@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Frank Ruhl Libre', serif;
}

.bgColor {
    background-color: #f26d8e;
    color: #fff;
}

.bgColorTransparent {
    background-color: #f26d8e1e;
}

.secondBgColor {
    background-color: #fff;
}

.textColor {
    color: #f26d8e;
}

.nav-link {
    margin: 0px 10px
}

.btnHover:hover {
    background-color: black;
    transition: .5s;
}

ul.mb-3.nav.nav-tabs.nav-justified {
    width: 600px;
    margin: auto;
    border: none;
}

.nav-tabs .nav-link {
    color: black;
}

.nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #f26d8e !important;
    border-radius: 0px !important;
}

.nav-tabs .nav-link:hover {
    /* isolation: unset !important; */
    color: #f26d8e;
    border: 0px !important;
    border-color: transparent;
}

.cardIcon {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #fff !important;
    border: 0px !important;
    border-radius: 100% !important;
    width: 40px !important;
    height: 40px !important;
    box-shadow: -1px 1px 10px 0px #a4a4a41a;
}

.cardIcon:hover {
    background-color: #f26d8e !important;
    color: #fff !important;
}

.visibleCardIcon:hover .hiddenCardIcon {


    @keyframes cardIcons {
        from {
            margin-right: 0px;
            visibility: visible;
        }

        to {
            margin-left: 50px;
            visibility: visible;
        }
    }

}


.hiddenCardIcon {
    visibility: hidden;
    animation-name: cardIcons;
    animation-duration: .5s;

}